<h1>Add Employee to this Project</h1>
<form  action="/add_employee" method="post">
  <select  name="employee_id" = "text">
    <% @employees.each do |employee| %>
      <option value = "<%= employee.id %>"><%= employee.name %> </option>
    <% end %>
  </select>
  <input type="hidden"  name = "project_id"  value="<%=@project.id %>">
  <button type="submit">Add Employee</button>
</form>

<br>

<% if (!@project_employees.nil?) %>
<ul>
  <% @project_employees.each do  |employee| %>
  <li><a href= "/employees/<%= employee.id %>"> <%= employee.name %> </a></li>
  <% end %>
</ul>
<% end %>
